*.xcuserstate
DS_Store
.DS_Store
paeban_ios_beta/Assets.xcassets/TutorialPages/.DS_Store
paeban_ios_beta.xcworkspace/xcuserdata/Elijah.xcuserdatad/UserInterfaceState.xcuserstate
*.xcbkptlist
paeban_ios_beta.xcworkspace/xcuserdata/Elijah.xcuserdatad/xcdebugger/*.xcbkptlist
